@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1.titulo{
    padding: 10px;
    color: #385555;
}

div#lista-contatos{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
}

div#lista-contatos ul{
    list-style-type: none;
    padding-left: 0;
}

#item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 19px;
}

.item-imagem img{
    width: 90px;
    border-radius: 50%;
}

.item-content{
    padding: 15px;
    flex-grow: 1;
}

.item-nome{
    font-size: 24px;
    font-weight: bold;
    color: #385555;
}

.item-email{
    margin-top: 5px;
    color: #919191;
}

.item-action{
    align-self: center;
    margin-right: 10px;
}






